@import "tailwindcss";
@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";

/* Italic-Varianten: */
@import "@fontsource/poppins/400-italic.css";
@import "@fontsource/poppins/500-italic.css";
@import "@fontsource/poppins/700-italic.css";

@utility pop-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@utility pop-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

@utility pop-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@utility pop-reg {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@utility pop-med {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@utility pop-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@utility pop-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@utility pop-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

@utility pop-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

@utility pop-reg-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@utility pop-med-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@utility pop-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}